{{#if @member}}
<a href="javascript:" data-members-signout>{{{t "Sign out"}}}</a>
{{else}}
<form data-members-form="subscribe" class="subscribe-form">
    <p style="word-wrap: break-word;">{{{t "Get the latest posts delivered right to your inbox"}}}</p>
    <div class="gh-connected-input" >
        <input data-members-email type="email" required="true" placeholder="{{t "Your email address"}}"/>
        <button class="gh-btn gh-primary-btn">{{t "Subscribe"}} <i class="las la-spinner"></i></button>
    </div>
    <div class="status status-success">
        {{{t "Subscribe Successful"}}}
    </div>
    <div class="status status-error">
        {{{t "Subscribe Failed"}}}
    </div>
</form>
{{/if}}