<section class="relevant-tags">
    <header class="with-action">
        <div class="pretext">{{t "Tags Subline" }}</div>
        <h2 class="heading">{{t "Tags Headline" }}</h2>
        <div class="actions">
            <a href="/tags" class="gh-btn gh-outline-secondary-btn">{{{t "View All Tags"}}}</a>
        </div>
    </header>
    <main class="grid grid-auto-fill">
    {{#get "tags" limit=6 include="count.posts" order="count.posts desc"}}
    {{#foreach tags}}
        {{> components/tag-card}}
    {{else}}
        <p>{{t "No Tags"}}</p>
    {{/foreach}}
    {{/get}}
    </main>
</section>