{{#primary_author}}
<div class="primary-author">
    <a href="{{url}}"><img src="{{img_url profile_image size="s"}}"/></a>
    <section id="author">
        <h4>{{name}}</h4>
        <main>
            {{bio}}
        </main>
        <hr />
        <footer>
            <a href="{{website}}">{{website}}</a>
        </footer>
    </section>
</div>
{{/primary_author}}