{{#primary_author}}
<div class="primary-author">
    <a href="{{url}}"><img src="{{img_url profile_image size="s"}}"/></a>
    <section id="author">
        <h4>{{name}}</h4>
        <main>
            {{bio}}
        </main>
        <hr />
        <footer>
            {{#if website}}
                <a href="{{website}}" target="_blank" rel="noopener"><i class="las la-link"></i></a>
            {{/if}}
            {{#if twitter}}
                <a href="{{twitter_url}}" target="_blank" rel="noopener"><i class="lab la-twitter"></i></a>
            {{/if}}
            {{#if facebook}}
                <a  href="{{facebook_url}}" target="_blank" rel="noopener"><i class="lab la-facebook-f"></i></a>
            {{/if}}
            <span class="location"><i class="las la-map-marked-alt"></i> {{location}}</span>
        </footer>
    </section>
</div>
{{/primary_author}}