{{#if profile_image}}
{{#contentFor "preload"}}
<link rel="preload" as="image" href="{{img_url cover_image size="l"}}" />
{{/contentFor}}
{{/if}}
{{!< default}}
{{#author}}
<div class="author-excerp gh-outer" style="--var-author-background: url('{{img_url cover_image size="l"}}')">
    <div class="gh-inner">
        {{#if profile_image}}
            <img class="gh-author-image" src="{{img_url profile_image size="s"}}" alt="{{name}}">
        {{/if}}
        <h1>{{name}}</h1>
        <p class="bio">{{bio}}</p>
        <div class="gh-author-social"><i class="las la-map-marked-alt"></i> {{location}} 
        {{#if website}}
            <a href="{{website}}" target="_blank" rel="noopener"><i class="las la-link"></i></a>
        {{/if}}
        {{#if twitter}}
            <a href="{{twitter_url}}" target="_blank" rel="noopener"><i class="lab la-twitter"></i></a>
        {{/if}}
        {{#if facebook}}
            <a  href="{{facebook_url}}" target="_blank" rel="noopener"><i class="lab la-facebook-f"></i></a>
        {{/if}}
        </div>
    </div>
</div>

<div class="post-line gh-outer">
    <div class="gh-inner">
    <header class="gh-inner">
        <div class="pretext">More to see</div>
        <h2 class="heading">Browse latest posts from <span class="highlight text-gardient">{{name}}</span>!</h1>
{{/author}}        
    </header>
    <section id="latest" class="grid grid-auto">
    {{#foreach posts}}
        {{> components/post-card showExcerp=true}}
    {{/foreach}}
    </section>
    <footer >
        <hr />
        {{pagination}}
    </footer>
    </div>
</div>