<!DOCTYPE html>
<html lang="{{@site.locale}}">
<head>
    <title>{{meta_title}}</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="{{asset "built/screen.css"}}" />
    {{ghost_head}}
</head>
<body class="{{body_class}}{{{block "body_class"}}}">
{{~> components/navbar~}}
<section class="content">
{{~{body}~}}
</section>
{{~> components/footer~}}
{{~ghost_foot~}}
</body>
</html>