<!DOCTYPE html>
<html lang="{{@site.locale}}" {{#match @custom.color_scheme "Dark"}} class="dark-mode"{{else match @custom.color_scheme "Auto"}} class="auto-color"{{/match}}>
<head>
    <title>{{meta_title}}</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="{{asset "built/screen.css"}}" async />
    <style>
        :root {
            --color-secondary: {{@custom.secondary_color}};
        }
    </style>
    {{ghost_head}}
    <script src="{{asset "built/main.min.js"}}" defer></script>
</head>
<body class="{{body_class}}{{{block "body_class"}}}">
{{~> components/navbar~}}
<div class="gh-outer">
<main class="gh-main gh-inner">
{{~{body}~}}
</main>
</div>
{{~> components/footer~}}
{{#is "post, page"}}
    {{> "pswp"}}
{{/is}}

{{~ghost_foot~}}
</body>
</html>