
{{~>theme-config~}}
{{~^is "tag, page, post"}}
{{~#contentFor "themecolor"}}{{@site.accent_color}}{{/contentFor~}}
{{/is~}}
<!DOCTYPE html>
<html lang="{{@site.locale}}" {{#match @custom.color_scheme "Dark"}} class="dark-mode"{{else match @custom.color_scheme "Auto"}} class="auto-color"{{/match}}>
<head>
    <title>{{meta_title page=(t " (Page %)")}}</title>
    <meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    {{! meta for mobile}}
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=3">
    <meta name="theme-color" content="{{{block "themecolor"}}}">
    <meta name="color-scheme" content="light">

    {{! preload }}
    <link rel="preload" href="{{asset "built/screen.css"}}" as="style" />
    <link rel="preload" href="{{asset "built/main.min.js"}}" as="script" />
     {{{block "preload"}}}

    <link rel="stylesheet" type="text/css" href="{{asset "built/screen.css"}}" async />
    <link rel="shortcut icon" href="{{img_url @site.icon size="s"}}" />
    <style>:root {--color-secondary: {{@custom.secondary_color}}; }</style>
    <script src="{{asset "built/main.min.js"}}" defer></script>
    {{! For future scripts remember use defer}}
    {{! i dont be a friend to place my scripts into the footer when i can simply use the defer statement}}
    {{{block "scripts"}}}
    {{ghost_head}}
</head>
<body class="{{body_class}}{{{block "body_class"}}} line-numbers">
{{~> components/navbar~}}
{{~{body}~}}
{{~> components/footer~}}
{{#is "post, page"}}
    {{~> pswp~}}
{{/is}}
{{~ghost_foot~}}
</body>
</html>