{{!< default}}
<div class="gh-main gh-outer blog-template">
    {{#unless page}}
    <header class="gh-inner">
        <h1 class="heading">{{{t "Explore {siteName}" siteName=@site.title}}}</h1>
        <p>{{@site.description}}</p>
    </header>
    {{else}}
    {{#page}}
    {{! If we use rewrite rules the description and title are empty by defa }}
    <header class="gh-inner">
        <div class="pretext">{{excerpt}}</div>
        <h1 class="heading">{{title}}</h1>
        <p>{{content}}</p>
    </header>
    {{/page}}
    {{/unless}}
    <main id="content" class="gh-inner grid grid-auto">
    {{#foreach posts}}
        {{> components/post-card showExcerp=true}}
    {{/foreach}}
    </main>

    <footer>
        <hr />
        {{pagination}}
    </footer>
</div>