<div class="skill">
    <h5 class="progress-label">{{progressTitle}}</h5>
    <progress class="steps" title="{{progressDescription}}" max="{{#if max}}{{max}}{{else}}10{{/if}}" value="{{value}}"></progress>
</div>