<article class="gh-card post-card">
    <div class="gh-card-image-content post-card-header">
        <figure class="gh-card-image">
            <div class="aspect-ratio aspect-ratio-lengthy">
                <img class="aspect-ratio-in" src="{{@site.icon}}" data-sizes="auto" />
            </div>
        </figure>
        <div class="gh-header-tags">
            <span class="tag">Test</span>
            <span class="tag">Test</span>
            <span class="tag">Test</span>
        </div>
    </div>
    <main class="gh-card-content">
        <h3 class="gh-card-header"><span class="gh-card-link post-card-link" href="{{url}}">Portfolio Test</span></h3>    
            
        <div class="gh-card-meta">
            <time class="gh-card-date" datetime="{{date format="YYYY-MM-DD"}}"><i class="las la-calendar"></i> Form: Feb 2022</time>
            <time class="gh-card-date" datetime="{{date format="YYYY-MM-DD"}}"><i class="las la-calendar"></i> Until: Feb 2022</time>
        </div>
        
        <div class="gh-card-text">Hallo</div>
    </main>
        <a class="gh-card-link post-card-link" href="{{url}}">
        <footer class="gh-card-footer">
            Test
        </footer>    
        </a>
</article>