<article class="portfolio-card">
    <div class="portfolio-description">
        <h3>{{projectTitle}}</h3>
        <div>
            <time datetime="{{date format="YYYY-MM-DD"}}"><i class="las la-calendar"></i> From: {{from}}</time>
            <time datetime="{{date format="YYYY-MM-DD"}}"><i class="las la-calendar"></i> {{#if until }}Until: {{until}}{{else}}still a project{{/if}}</time>
        </div>        
        {{{projectDescription}}}
        <h4>As: {{position}}</h4>
        <div class="tech-stack">
            {{{tech-stack}}}
        </div>
        <div class="link">
            {{{callToActions}}}
        </div>
    </div>
    <div class="image">
    <img src="{{img_url imgUrl}}" data-sizes="auto" />        
    </div>
</article>
