<section class="timeline-entry">
    <aside class="meta {{#if even}}left{{else}}right{{/if}}">
        <div class="meta-inner timespan-inner">
            {{#if imgURL}}                
            <img width="64" src="{{imgURL}}" />
            {{/if}}
            <div clas="timespan-wrapper">
            <time>{{from}}</time><br/>
            <time>{{to}}</time>
            </div>
        </div>
        {{#if meta1}}
        <div>
            {{meta1}}
        </div>
        {{/if}}

        <div class="meta-inner"><a href="{{companyURL}}" class="highlight" target="_blank">{{company}}</a></div>
    </aside>
    <div class="station {{#if even}}right{{else}}left{{/if}}">
        <div class="station-inner">
        <header>
            <div class="timeline-wrapper">
                <h3>{{position}}</h3>
                <h4>{{company}}</h4>
            </div>
        </header>
        <hr/>
        <main>
        {{{description}}}
        </main>
        </div>
    </div>
</section>
