<div class="gh-foot gh-outer">
    <footer class="primary-footer gh-inner">
        <section class="secondary">
            <div class="gh-brand">
                <a href="{{@site.url}}">
                {{#if @site.logo}}<img src="{{@site.logo}}" alt="{{@site.title}}">{{else}}{{@site.title}}{{/if}}
                </a>
            </div>
            <nav class="gh-foot-menu">{{~navigation type="secondary"~}}</nav>
        </section>

        <section class="resource-1">
             {{#get "pages" limit="1" filter="tag:hash-footer-contact"  }}
             {{#foreach pages}}
            <h6>{{title}}</h6>
            <nav class="gh-foot-menu">
                {{content}}
            </nav>
            {{else}} <p style="white-space: normal; inline-size: 150px; overflow-wrap: break-word;word-break: break-all;">No information provided. Please create a page with the tag #footer-contact</p>
            {{/foreach}}
            {{/get}}
        </section>
        
        <section class="resource-2">
        {{#get "pages" limit="1" filter="tag:hash-footer-links"  }}
            {{#foreach pages}}
            <h6>{{title}}</h6>
            <nav class="gh-foot-menu">
            {{content}}
            </nav>
            {{else}}<p style="white-space: normal; inline-size: 150px; overflow-wrap: break-word;word-break: break-all;">No information provided. Please create a page with the tag #footer-links</p>
            {{/foreach}}
        {{/get}}
        </section>

        <section class="newsletter">
            <h6>Newsletter</h6>
            {{> newsletter}}
        </section>
    </footer>
</div>

<div class="gh-foot-second gh-foot gh-outer">
    <div class="second-footer gh-inner">
        <section class="legal">
            {{@site.title}} © {{date format="YYYY"}} - <a href="https://github.com/Blackspo0n/personal-career-blog-ghost" target="_blank">Theme Source</a></STRONG>
        </section>
        <section class="social">
            {{~>components/navbarButtons~}}
        </section>
    </div>
</div>