{{#if feature_image}}
{{~#contentFor "preload"~}}
<link rel="preload" as="image" imagesrcset="{{img_url feature_image size="s"}} 300w, {{img_url feature_image size="m"}} 600w" href="{{img_url feature_image size="s"}}" imagesizes="50vw" />
{{~/contentFor~}}
{{/if}}
<article class="gh-card post-card {{tag_class}}">
    <a class="gh-card-link post-card-link" href="{{url}}">
    {{^if small}}
        <div class="gh-card-image-content post-card-header">
            <figure class="gh-card-image">
                <div class="aspect-ratio">
                    {{#if feature_image}}
                <img class="aspect-ratio-in"
                        srcset="{{img_url feature_image size="s"}} 300w, {{img_url feature_image size="m"}} 600w"
                        src="{{img_url feature_image size="s"}}"
                        alt="{{#if feature_image_alt}}{{feature_image_alt}}{{else}}{{title}}{{/if}}" sizes="50vw" />
                {{else}}
                    <div class="aspect-ratio-in{{#if accent_color}}{{else}} gh-gardient-btn{{/if}}" style="background-color: {{#if accent_color}}{{accent_color}}{{/if}};"></div>
                {{/if}}
                </div>
            </figure>
            <div class="gh-header-title">
                <h2>{{name}}</h2>
            </div>
        </div>
        {{#if excerpt}}
        <main class="gh-card-content">
            <div class="gh-card-text">{{excerpt}}</div>
        </main>
        {{/if}}
        <footer class="gh-card-footer">
            {{plural count.posts empty="No Tag" singular=(t "Explore 1 post in {tagName}" tagName=name) plural=(t "Explore {postCount} posts in {tagName}" postCount=count.posts tagName=name)}}
        </footer>    
        {{else}}
        <div>
            {{name}}
        </div>
    {{/if}}
    </a>
</article>